/* Configuracion principal del header */
header{
    /* Modificando el fondo del header*/
    background-color :var(--main-color);
    /* Dado el backgroun de la etiqueta, toca cambiar el color del texto para ser legible */
    color: var(--secondary-color);
    
    
    padding-left: 200px;
    padding-right: 200px;

    /* Altura de la etiqueta */
    height: 100px;

    /* Modificacion del display(forma de ordenamiento de las etiquetas hijo) */
    display: flex;
    /* alineamiento vertical */
    justify-content: space-around;
    /* alineamiento horizontal */
    align-items: center;
    height: 100%;
}

/* Configuracion del Titulo de la barra superior */
header h1{
    /* tipo de letra bold */
    font-weight: 700;
}

/* Icono de logo */
.SVG-secondary{
    /* La relacion se mantiene, por lo que solo es necesario modificar un valor */
    width: 70px;
}