.item *{
    margin:0;
    font-size: medium;
}
.item{
    border-radius: 5px;
    padding:10px ;

    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: space-between; align-items: center;
}

.item div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: white; */
    /* display: block; */
    
    /* justify-content: center; */
}

.vehicle{
    width: 60px;
}
.menu{
    width: 30px;
}

.medio-em{
    font-size: 0.5em;
}
.doble-em{
    font-size: 2em;
}
