
.sections{
    /* Separando la etiqueta del navegador, esto gracias al position:fixed */
    margin-left: 20%;

    padding: 20px;
}




.sections .superior-bar{
    display: flex;
    justify-content: space-between;
}

.superior-bar .SVG{
    /* Modificando el tamaño de las imagens de busqueda y agregacion */
    width: 45px;

    cursor: pointer;

}

.superior-bar .SVG:hover{
    background-color: var(--third-color);
    
}
.superior-bar .SVG:active{
    background-color: var(--secondary-color);
    
}

/* ZONA DE ANIMACION DEL INPUT */


.sections input{

    border-bottom: 2px solid var(--main-color);
    width: 0px;
    font-size: medium;

    transition: all 0.5s ease;
}

.sections .opening{
    width: 300px;
}
